<app-menubar></app-menubar>
<div *ngIf="successMessage || errorMessage" role="alert" class="alert"
    [ngClass]="{ 'alert-success':successMessage, 'alert-danger':errorMessage}">
    {{successMessage}}{{errorMessage}}
</div>
<div *ngIf="companyList && companyList.length > 0">
    <h2>Company List</h2>
    <table class="table table-striped ">
        <thead>
            <tr class="table-primary">
                <th>Company Code</th>
                <th>Company Name</th>
                <th>Company CEO Name</th>
                <th>Company Turnover</th>
                <th>Company Website</th>
                <th>Company Stock Exchange</th>
                <th>Latest Stock Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let companyDetail of companyList'>
                <td>{{companyDetail.companyCode}}</td>
                <td>{{companyDetail.companyName}}</td>
                <td>{{companyDetail.companyCeoName}}</td>
                <td>{{companyDetail.companyTurnover}}</td>
                <td>{{companyDetail.companyWebsite}}</td>
                <td>{{companyDetail.companyStockExchange}}</td>
                <td>{{companyDetail.latestStockPrice}}</td>
                <td>
                    <button type="button" (click)="deleteCompany(companyDetail)" class="btn btn-outline-danger">Delete
                        Company</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>