<app-menubar></app-menubar>
<div *ngIf="successMessage || errorMessage" role="alert" class="alert"
    [ngClass]="{ 'alert-success':successMessage, 'alert-danger':errorMessage}">
    {{successMessage}}{{errorMessage}}
</div>
<h2>Add Company</h2>
<form [formGroup]="companyRegisterForm">
    <div class="form-group">
        <div class="col-7">
            <label class="form-label">Company Code</label>
            <input type="text" class="form-control" formControlName="companyCode" id="companyCode"
                aria-describedby="companyCode"
                [ngClass]="{ 'is-invalid': submitted  && formControl['companyCode'].errors}" />
            <div class="invalid-feedback" *ngIf="submitted && formControl['companyCode'].errors">
                Please enter the company code
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-7">
            <label class="form-label">Company Name</label>
            <input type="text" class="form-control" formControlName="companyName" id="companyName"
                aria-describedby="companyName"
                [ngClass]="{ 'is-invalid': submitted  && formControl['companyName'].errors}" />
            <div class="invalid-feedback" *ngIf="submitted && formControl['companyName'].errors">
                Please enter the company name
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-7">
            <label class="form-label">Company CEO</label>
            <input type="text" class="form-control" formControlName="companyCeoName" id="companyCeo"
                aria-describedby="companyCeo"
                [ngClass]="{ 'is-invalid': submitted  && formControl['companyCeoName'].errors}" />
            <div class="invalid-feedback" *ngIf="submitted && formControl['companyCeoName'].errors">
                Please enter the company CEO name
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-7">
            <label class="form-label">Company Turnover</label>
            <input type="number" class="form-control" formControlName="companyTurnover" id="companyTurnover"
                aria-describedby="companyTurnover"
                [ngClass]="{ 'is-invalid': submitted  && formControl['companyTurnover'].errors}" />
            <div class="invalid-feedback" *ngIf="submitted && formControl['companyTurnover'].errors">
                Please enter the company turnover
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-7">
            <label class="form-label">Company Website</label>
            <input type="text" class="form-control" formControlName="companyWebsite" id="companyWebsite"
                aria-describedby="companyWebsite"
                [ngClass]="{ 'is-invalid': submitted  && formControl['companyWebsite'].errors}" />
            <div class="invalid-feedback" *ngIf="submitted && formControl['companyWebsite'].errors">
                Please enter the company website
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-7">
            <label class="form-label">Type of stock Exchange</label>
            <select formControlName="companyStockExchange" class="form-select" aria-label="Default select example"
                [ngClass]="{ 'is-invalid': submitted  && formControl['companyStockExchange'].errors}">
                <option>Choose Stock Exchange</option>
                <option value="NSE">NSE</option>
                <option value="BSE">BSE</option>
            </select>
            <div class="invalid-feedback" *ngIf="submitted && formControl['companyStockExchange'].errors">
                Please enter the company stock exchange
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <button type="submit" (click)="registerCompany()" class="btn btn-primary mt-3">Register Company</button>
        </div>
    </div>
</form>