<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <form class="container-fluid justify-content-start">
        <div class="container-fluid">
        add logo image here
        </div>
    </form>
</nav>
<h2 class="text-center">E-Stock Portal Login</h2>
<div class="center">
    <div *ngIf="errorMessage" class="row">
        <div class="col">
            <div role="alert" class="alert alert-danger">
                {{errorMessage}}
            </div>
        </div>
    </div>
    <form [formGroup]="loginForm" name="loginForm" class="form-group">
        <div class="row">
            <div class="col">
                <label class="form-label">User Name</label>
                <input type="text" class="form-control" formControlName="userName" autocomplete="false"
                [ngClass]="{ 'is-invalid': submitted  && formControl['userName'].errors}" />
                <div class="invalid-feedback" *ngIf="submitted && formControl['userName'].errors">
                    Please enter the user name
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted  && formControl['password'].errors}" />
                <div class="invalid-feedback" *ngIf="submitted && formControl['password'].errors">
                    Please enter the password
                </div>
            </div>
        </div>
        <div>
            <button type="button" (click)="login()" class="btn btn-primary mt-3">Login</button>
        </div>
    </form>
</div>